body {
    width: 99vw;
    font-family: Arial, sans-serif;
    margin: 0;
    background: #1e0f2a;
    color: #e2e8f0;
    user-select: none;
    font-size: 1em;
}
header {
    background: #2e1e3b;
    padding: 30px;
    text-align: center;
}
h1 {
    margin: 1em 0 0.5em 0;
    font-size: 2.5em;
    color: #8538f8;
}

section {
    padding: 20px 40px;
}

h2 {
    color: #8538f8;
}

.card {
    background: #2e1e3b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    color: #e2e8f0;
}

nav{
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 0;
    text-align: center;
    z-index: 3;
    background-color: #2e1e3b;
    padding: 0 2%;
    border: 1px solid #1e0f2a;

}

h3{
    color: #8538f8;
    margin-top: 0.7em;
    font-size: 1.2em;
}

.navbar{
    color: #e2e8f0;
    margin: 1em 0.5em;
    font-size: 1em;
}

.ativo{
    color: #7a50b8;
}

img{
    height: 1.2em;
}

a{
    text-decoration: none;
    color: #8538f8;
    transition: 1s;
}

a:hover{
    text-decoration: none;
    color: #8e5adc;
}

.skills span {
    display: inline-block;
    background: #8538f8;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px, solid, #5522a1;
    font-size: 0.9em;
    transition: 1s;
}

.skills span:hover{
    background: #a76dff;
        border: 2px, solid, #714aac;
        color: #ffffff;
        font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    color: #94a3b8;
}

button{
    display: inline-block;
    background: #8538f8;
    color: #ffffff;
    padding: 5px 10px;
    margin: 1em 1em;
    border-radius: 8px;
    border: 1px, solid, #5522a1;
    font-size: 0.7em;
    animation-name: aumenta;
    animation: 1s;

    transition: 1s;
}


button:hover{
        background: #a76dff;
        border: 2px, solid, #714aac;
        color: #ffffff;
        font-size: 0.9em;
}

.hide{
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    body{
        font-size: 0.9em;
    }
    h1{
        margin-top: 1em;
    }
    h3{
        margin-top: 1em;
        font-size: 1em;
    }
    .navbar{
        font-size: 0.8em;
        margin: 1em 0.2em;
    }
    button{
        font-size: 0.5em;
        margin: 1em 1em;
        transition: none;
    }
    button:hover{
        display: inline-block;
        background: #8538f8;
        color: #ffffff;
        margin: 0.7em 1em;
        border-radius: 8px;
        border: 1px, solid, #5522a1;
        font-size: 0.5em;
    }
}


